server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: gateway-server
  config:
    import: 'optional:configserver:'
  cloud:
    config:
      discovery:
        enabled: false
        service-id: config-server
      uri: https://www.pinjun.xyz/config
# Eureka Client
eureka:
  instance:
    prefer-ip-address: false
    hostname: ${EUREKA_INSTANCE_HOSTNAME:localhost}
  client:
    register-with-eureka: ${EUREKA_REGISTER:true}
    fetch-registry: ${EUREKA_FETCH:true}
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}

# Actuator (기본만, 나머지는 config-repo에서)
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics, gateway
  endpoint:
    health:
      show-details: always

# Logging
logging:
  level:
    root: INFO


queue:
  max-capacity: ${QUEUE_MAX_CAPACITY:100}
  secret-key: ${QUEUE_SECRET_KEY}