name: Build Config Server Image

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: tickatch/gateway-server
  VERSION: latest

jobs:
  ImageBuild:
    name: Build Docker Image and Deploy on GCP
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean bootJar

      - name: Log into container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          docker build -t $IMAGE .
          docker push $IMAGE
          echo "IMAGE_URI=$IMAGE" >> $GITHUB_ENV
      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.REMOTE_IP }} # 인스턴스 IP
          username: ${{ secrets.REMOTE_USER }} # 우분투 아이디
          key: ${{ secrets.REMOTE_PRIVATE_KEY }} # instance pem key
          port: ${{ secrets.REMOTE_SSH_PORT }} # 접속포트
          script: |
            echo "배포 시작"
            sudo docker stop myapp || true
            sudo docker rm myapp || true
            sudo docker rmi ${{ env.IMAGE_URI }} || true

            echo "GHCR 로그인"
            echo ${{ secrets.GITHUB_TOKEN }} | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin

            echo "이미지 Pull"
            sudo docker pull ${{ env.IMAGE_URI }}

            sudo docker run -d --name myapp -p 8080:8080 -e EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=${{ secrets.EUREKA_URL }} -e EUREKA_INSTANCE_HOSTNAME=${{ secrets.GCP_GW_IP }} -e QUEUE_MAX_CAPACITY=${{ secrets.QUEUE_MAX_CAP }} -e ALLOWED_IN_DURATION_SECONDS=${{ secrets.ALLOWED_IN_DUR }} -e QUEUE_SECRET_KEY=${{ secrets.QUEUE_SECRET_KEY }} -e JWT_JWKS_URI=${{ secrets.JWT_JWKS_URI }} -e REDIS_IP="${{ secrets.REDIS_IP }}" -e REDIS_PW="${{ secrets.REDIS_PW }}" ${{ env.IMAGE_URI }}
